[defaults]
inventory = ./inventories/lab/hosts.yml
host_key_checking = False
stdout_callback = yaml
retry_files_enabled = False
timeout = 30
callback_plugins=/Users/skywalker/anaconda3/envs/ansible/lib/python3.10/site-packages/ara/plugins/callback
action_plugins=/Users/skywalker/anaconda3/envs/ansible/lib/python3.10/site-packages/ara/plugins/action
lookup_plugins=/Users/skywalker/anaconda3/envs/ansible/lib/python3.10/site-packages/ara/plugins/lookup

[ssh_connection]
pipelining = True

[ara]
api_client = http
api_server = http://192.168.219.106:8000
record_controller_name = "jsung_mbp"
record_user_name = "jsung"

